---
import { getLangFromUrl, useTranslations, getRelativeLocaleUrl, type Language } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url) as Language
const t = useTranslations(lang)

const vol1Url = getRelativeLocaleUrl(lang, '/juegos/vol1')
const rhVsBfUrl = getRelativeLocaleUrl(lang, '/juegos/rh-vs-bf')
const sunriseUrl = getRelativeLocaleUrl(lang, '/juegos/sunrise')
---

<main class="slider" id="inicio">
	<div class="slider__progress-bar">
		<div class="slider__progress"></div>
	</div>
	<div class="slider__wrapper" id="sliderWrapper">
		<div class="slider__item">
			<a href={vol1Url}>
				<img
					src="/Fotos/Banner_volume-one.webp"
					alt="Banner of Unmatched: Battle of legends Volume one game"
				/>
				<div class="slider__button">
					<a href={vol1Url} class="slider__button-link">{t('main.moreInfo')}</a>
				</div>
			</a>
		</div>
		<div class="slider__item">
			<a href={rhVsBfUrl}>
				<img
					src="/Fotos/Banner_RHvsBF.webp"
					alt="Banner of Unmatched: Robin Hood vs Bigfoot game"
				/>
				<div class="slider__button">
					<a href={rhVsBfUrl} class="slider__button-link">{t('main.moreInfo')}</a>
				</div>
			</a>
		</div>
		<div class="slider__item">
			<a href={sunriseUrl}>
				<img src="/Fotos/Banner_Sunrise.webp" alt="Banner of Sunrise Sunset" />
				<div class="slider__button">
					<a href={sunriseUrl} class="slider__button-link">{t('main.moreInfo')}</a>
				</div>
			</a>
		</div>
	</div>
	<div class="slider__nav">
		<a href="javascript:void(0)"></a>
		<a href="javascript:void(0)"></a>
		<a href="javascript:void(0)"></a>
	</div>
</main>
